/* ----- Estilos Globales ---- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    /*Cambia la medida del rem.
    Ante 1rem = 16px
    Ahora 1rem = 10px*/
}
p { 
    font-size: 15pt;
}

ul {
    list-style-type: none;
}
h2,
h2 a {
    color:#2B347C;
    text-align: center;
    font-weight: 700;
    font-size: 30pt;
    text-transform: uppercase;
}
a {
    text-decoration: none;
}
body{ 
    font-family: 'Montserrat', sans-serif; /*Tipogafia Web*/
    color: #6A6A6A;
    background-color: #F9F9F9;
}
/* ----- Fin - Estilos Globales ---- */

/* ----- Encabezado ---- */

.menu_general {
    color: #6A6A6A;
    font-size: 18pt;
    font-weight: 500;
    padding: 0;
    width: 100%;
    top: 0;
    left: 0;
}
.menu_general .logo {
    margin-left: 40px;
}
.fondo_blanco {
    background-color: whitesmoke;
}
.menu_general .navbar {
    padding-top: 0;
}
.menu_general .navbar-brand img {
    height: 115px;
}
.menu_general .navbar_links li {
    margin-right: 25px;  
}
.menu_general .navbar_links a:hover {
    color: #00BBF0;
}
.menu_general .navbar-toggler {
    font-size: 12pt;
    padding: 10px;
    margin-right: 20px;
}
.menu_general .encabezadoceleste {
    background-color: #00BBF0;
    width: 100% ;
    height: 50px;  
}

/* ----- Fin - Encabezado ---- */

/* ----- main ---- */
.edificio_destacado {
    margin-top: 160px; /*Para generar espacio entre el borde superior y la imagen*/
    background-image: url('../multimedia/Image\ Container.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    padding-top: 300px;
    padding-bottom: 500px;
}

.edificio_destacado p {
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;  
    margin-right: 50%;
    margin-left: 15%;
    line-height: 150%;
}

.edificio_destacado .textochico {
    font-size: 40px;
    font-weight: bold;
    margin-top: 40px;
}
/* ----- Fin - Main---- */
/* ----- nosotros ---- */

.section__quienessomos{
    background-color: rgb(127, 133, 131);    
}
.section__quienessomos {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 15%;

    /* esto esta reemplazado ahora por "offset-md-3 col-md-6"
    padding-right: 20%;
    padding-left: 20%; */
}
.section__quienessomos h2 a{
    background-color: antiquewhite;
}
.section__quienessomos p {
    background-color: #bac2ff;
    padding-top: 20px ;   
}

/* ----- Fin nosotros ---- */

/* ----- productos y servicios  ---- */

.section__servyprod h2 a{
    background-color: #e62edd;
}
.section__servyprod {
    background-color: #bac2ff;
    padding-bottom: 15%;
}
.section__servyprod .publicoyprivado {
    background-color: #a28ffd;
    padding-top: 100px ;
}

.section__servyprod img {
   width: 500px;
}
.section__servyprod {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
 }
/* ----- Fin productos y servicios  ---- */

/* ----- concurso publico  ---- */

.section__concursopublico {
    padding-bottom: 15%;
}
.section__concursopublico h2 a {
    background-color: #f947f0;
}
.section__concursopublico .concursos { 
    background-color: #86cfff;
    margin-top: 20px; 
}
.section__concursopublico img {
    margin-bottom: 10px;
    margin-top: 10px;
}
/* ----- fin concurso publico  ---- */

/* ----- pregutas frecuentes  ---- */

.section__preguntafrecuente {
    background-color: #d868d8;
}
.section__preguntafrecuente h2 a {
    background-color: #f947f0;
}
.section__preguntafrecuente .preguntas { 
    background-color: #e0e635;
    padding-top: 100px;
    margin-bottom: 10%;
}

/* ----- fin pregunts frecuentes  ---- */

 /* ----- Pie de pagina ---- */

.footerceleste2 {
    background-color: #00BBF0;
    width: 100% ;
    height: 500px;  
}
.logoabajo {
    height: 150px;
    margin-left: 20px;
    margin-top: 20px;
}
.redessociales {
    margin-top: 260px;
    margin-left: 20px 
}
.redessociales li {
    display: inline-block;
    margin-left: 10px;
}
.redessociales li i {
    font-size: 30px;
    color: white;
}

/* ----- Fin - Pie de pagina ---- */
@media screen and (max-width: 1200px) {
    .navbar_links li {
        text-align: right;
    }
}
@media screen and (max-width: 992px) {
    .edificio_destacado p {
        margin-right: 5%;
        margin-left: 10%;
    }
    .section__concursopublico .concursos {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .section__preguntafrecuente .preguntas img {
        width: 80%;
    }

    .section__servyprod img {
        width: 300px;
    }

    .section__servyprod {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
     }

     .section__quienessomos p {
        padding-left: 10%;
        padding-right: 10%;
    }



}
@media screen and (max-width: 768px) {
    .edificio_destacado p {
        font-size: 21pt;
        margin-right: 15%;
        margin-left: 10%;
    }
    .edificio_destacado .textochico {
        font-size: 19pt;
    }
    .section__servyprod img {
        width: 50%;
    }
    
    .section__concursopublico .concursos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section__preguntafrecuente .preguntas img {
        width: 90%;
    }


}

@media screen and (max-width: 500px) {
    .edificio_destacado p {
        font-size: 19pt
    }
    .edificio_destacado {
        padding-top: 200px;
        padding-bottom: 400px;
    }
    p {
        font-size: 10pt;
    }

    h2,
     h2 a{
        font-size: 15pt;
    }

    .section__quienessomos p {
        padding-left: 5%;
        padding-right: 5%;
    }

    .section__servyprod .publicoyprivado{
        padding-top: 50px;
    }

    .section__concursopublico img{
        width: 50%;

    }
    .section__preguntafrecuente .preguntas{
        padding-top: 50px;
    }

}


   
    
/* ----- Fin - grid responsive ---- */



