@import "variables";
@import "animaciones";


.seccion_contacto {
    padding: 100px 0 500px 0px;
    .titulo  {
        background-color: #00BBF0;
        padding: 110px 0 150px 50px;
        
    }
}
.titulo h2 {
    text-align: left;
    color: white;
    margin-left: 5%;
}
.mapas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 80px;
}
.seccion_formulario {
    background-color: #d2f5ff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: ce;    
    align-items: center;
    form {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    input:not(textarea) {
        height: 40px;
    }
    .boton {
        padding-top: 20px;
    }
    label {
        color: #00BBF0;
        font-weight: bold;
    }
}
.logo_formulario img {
    width: 45%;
    margin-left: 5%;
    
}

.mapas h3 {
    color: $colorfondoprincipal ;
    padding-top: 40px;
}